.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0E11;
    border-radius: 28px;
    padding: 56px 90px;
    width: 80vw;
    position: absolute;
    margin-top: -10rem;
    left:10%;
border: 4px solid rgba(219, 184, 0, 0.20);
}
.icons{
    background: linear-gradient(135deg, #9C530F 0%, #CFAF06 99.74%);
    border-radius: 100%;
    padding: 17.2px;
}